<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/templates/header.html :: meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<title>チェックイン</title>
</head>
<body>
	<div class="container">
		<div th:replace="/templates/header.html :: top-menu"></div>
		<div class="row">
			<div class="col-sm-12">
				<h1>チェックイン</h1>
				<p>同じ写真を撮って下さい．チェックインに成功すると，タスクに挑戦できます．</p>
				<img class="img-rounded" src="../img/checkin-aed.jpg">
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-primary" href="task-aed.html" role="button">写真を撮る</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
