<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/templates/header.html :: meta-fragment" th:remove="tag"></object>
<script type="text/javascript" src="../js/checkin-photo.js"></script>
<link rel="stylesheet" href="../css/checkin-photo.css" />
<title>チェックイン</title>
</head>
<body>
	<input id="file-input" name="file-input" type="file" accept="image/*" onchange="handleFiles(this.files)" />
	<div th:replace="/templates/header.html :: top-menu"></div>
	<div class="container">
		<div class="row">
			<div class="description">左側の写真と同じような写真を撮って下さい。</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="img-wrapper">
					<img class="img-rounded" src="../img/checkin-aed.jpg">
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="img-wrapper">
					<img class="img-rounded" src="../img/nopicture.svg" id="img-preview" onClick="$('#file-input').click()">
				</div>
				<div class="margin-container">
					<div id="btn-file-input" class="btn btn-primary" onClick="$('#file-input').click()">写真を選ぶ</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="margin-container">
					<button id="btn-next" class="btn btn-primary btn-next-fill" disabled>チェックインする</button>
				</div>
			</div>
		</div>
	</div>
	<div id="loading"><img src="../img/loading.gif"></div>
</body>
</html>
