<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<object th:include="../templates/header.html::meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<script type="text/javascript">
	$(function() {
		fetchCityWalkData();
	});
</script>
<link rel="stylesheet" href="../css/top.css" />
<title>MAGCruiseCityWalk</title>
</head>
<body>
	<div class="container">
		<div class="description">
			このサービスは〜〜〜による〜〜〜のための〜〜〜サービスです。これにより〜〜〜が〜〜〜になることを目指しています。
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="login.html">
					<div class="city">
						<div class="center">
							Waseda 早稲田大学
						</div>
					</div>
				</a>
				<a href="login.html">
					<div class="city">
						<div class="center">
							Toho 東邦大学
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
