<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/templates/header.html::meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<title>MAGCruiseCityWalk</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>CampusWalk</h1>
				<ul>
					<li><a href="login.html">Waseda 早稲田大学</a>：新入生向け早稲田理工学内ツアー．
						制限時間は60分！ キャンパスを探索して沢山のポイントを集めよう！</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
