<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/templates/header.html::meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<script type="text/javascript">
	$(function() {
		var u = parseUri(document.URL);
		var urlPrefix = u.protocol + "://" + u.authority + "/"
				+ u.directory.split("/")[1] + "/";
		var url = urlPrefix + "CityWalkService";
		var data = new JsonRpcClient(new JsonRpcRequest(url, "getInitialData",
				[ "waseda" ], function(data) {
					saveCityWalkData(data.result);
				})).rpc();
	});
</script>
<link rel="stylesheet" href="../css/top.css" />
<title>MAGCruiseCityWalk</title>
</head>
<body>
	<div class="container">
		<div class="row" th:fragment="top-menu">
			<div class="col-sm-12">
				<div id="mag-nav">
					<span id="nav-title"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 description">
				このサービスは〜〜〜による〜〜〜のための〜〜〜サービスです。これにより〜〜〜が〜〜〜になることを目指しています。</div>
			<div class="col-sm-12">
				<div class="city">
					<a href="login.html">Waseda 早稲田大学</a>
				</div>
				<div class="city">
					<a href="login.html">Toho 東邦大学</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
