<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<object th:include="/templates/header.html::meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<script type="text/javascript">
	$(function() {
		var u = parseUri(document.URL);
		var urlPrefix = u.protocol + "://" + u.authority + "/"
				+ u.directory.split("/")[1] + "/";
		var url = urlPrefix + "CityWalkService";
		$('#login-btn').on(
				'click',
				function() {
					for (var i = 0; i < $('input').size(); i++) {
						if (!$('input')[i].checkValidity()) {
							$('#submit-for-validation').trigger("click");
							return;
						}
					}
					var userId = $('#user-id').val();
					var groupId = $('#group-id').val();
					new JsonRpcClient(new JsonRpcRequest(url, "login", [
							userId, groupId ], function() {
						location.href = "checkpoints.html";
					})).rpc();
				});
	});
</script>
<title>ログイン</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>ログイン</h1>
				<form>
					<div class="form-group">
						<label>ユーザ名</label> <input class="form-control" type="text"
							id="user-id" name="user-id" size="20" value="Yuya Ieiri"
							pattern=".{3,}" required />
					</div>
					<div class="form-group">
						<label>グループ名</label> <input class="form-control" type="text"
							id="group-id" name="group-id" size="20" value="hisiyamalab" />
					</div>
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-primary" role="button" id="login-btn">ログイン</a>
					</div>
					<input id="submit-for-validation" type="submit" formmethod="POST"
						style="display: none;">
				</form>
			</div>
		</div>
	</div>
</body>
</html>
