<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/templates/header.html :: meta-fragment"
	th:remove="tag"></object>
<title>ランキング</title>
<link rel="stylesheet" href="../css/ranking.css" />
</head>
<head th:remove="all">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script src="../js/citywalk.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="/templates/header.html :: top-menu"></div>
		<div class="row">
			<h1>グループランキング</h1>
			<ul class="list-group">
				<li class="list-group-item rank-text"><img src="../img/rank_first.png" class="rank-first-img"/>ほげほげ チーム<p class="pull-right">100pt</p></li>
				<li class="list-group-item rank-text"><img src="../img/rank_second.png" class="rank-second-img"/>ほげほげ チーム<p class="pull-right">80pt</p></li>
				<li class="list-group-item rank-text"><img src="../img/rank_third.png" class="rank-third-img"/>ほげほげ チーム<p class="pull-right">50pt</p></li>
				<li class="list-group-item">4. ほげほげ チーム<p class="pull-right">30pt</p></li>
				<li class="list-group-item">5. ほげほげ チーム<p class="pull-right">20pt</p></li>
			</ul>
		</div>
		<div class="row">
			<h1>個人ランキング</h1>
			<ul class="list-group">
				<li class="list-group-item rank-text"><img src="../img/rank_first.png" class="rank-first-img"/>ほげほげ さん<p class="pull-right">100pt</p></li>
				<li class="list-group-item rank-text"><img src="../img/rank_second.png" class="rank-second-img"/>ほげほげ さん<p class="pull-right">80pt</p></li>
				<li class="list-group-item rank-text"><img src="../img/rank_third.png" class="rank-third-img"/>ほげほげ さん<p class="pull-right">50pt</p></li>
				<li class="list-group-item">4. ほげほげ さん<p class="pull-right">30pt</p></li>
				<li class="list-group-item">5. ほげほげ さん<p class="pull-right">20pt</p></li>
			</ul>
		</div>
	</div>
</body>
</html>
