<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<object th:include="/templates/header.html::meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<title>タスク</title>
</head>
<body>
	<div class="container">
		<div th:replace="/templates/header.html::top-menu"></div>
		<div class="row">
			<div class="col-sm-12">
				<p class="alert alert-info">チェックインに成功しました！</p>
				<h1>次の4つの部屋を、座席の多い順に並び替えよ！</h1>
				<p>・A ・C ・E ・G</p>
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-primary" href="result-pc-room.html" role="button">回答する</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
