<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<object th:include="/templates/header.html::meta-fragment"
	th:remove="tag"></object>
<script src="../js/citywalk.js"></script>
<title>タスク</title>
</head>
<body>
	<div class="container">
		<div th:replace="/templates/header.html::top-menu"></div>
		<div class="row">
			<div class="col-sm-12">
				<p class="alert alert-info">チェックインに成功しました！</p>
				<h1>次のうち、理工の学食が発祥の地であるメニューはどれ？</h1>
				<div class="form-group">
					<label>豚玉丼<input type="radio" name="q1" value="豚玉丼">
					</label> <label>チキンおろしだれ<input type="radio" name="q1"
						value="チキンおろしだれ">
					</label> <label>カツカレー<input type="radio" name="q1" value="カツカレー">
					</label> <label>ポーク焼き肉<input type="radio" name="q1" value="ポーク焼き肉"></label>
				</div>
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-primary" href="result-cafeteria.html"
						role="button">回答する</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
