<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/templates/header.html :: meta-fragment"
	th:remove="tag"></object>
<title>訪問済みチェックポイント一覧</title>
<link rel="stylesheet" href="../css/visited-checkpoints.css" />
</head>
<head th:remove="all">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script src="../js/citywalk.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="/templates/header.html :: top-menu"></div>
		<div class="row">
			<div id="checkpoints" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row checkpoint">
					<p class="name">伏見稲荷大社</p>
					<p class="answer">正解：ほげ</p>
					<img src="../img/placeholder.svg" class="img-responsive img col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 description">
						伏見稲荷大社（ふしみいなりたいしゃ）は京都市伏見区にある神社。旧称は稲荷神社。式内社（名神大社）、二十二社（上七社）の一社。旧社格は官幣大社で、現在は神社本庁に属さない単立神社。稲荷山の麓に本殿があり、稲荷山全体を神域とする。
					</div>
				</div>
				
				<div class="row checkpoint">
					<p class="name">伏見稲荷大社</p>
					<p class="answer">正解：ほげ</p>
					<img src="../img/placeholder.svg" class="img-responsive img col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 description">
						伏見稲荷大社（ふしみいなりたいしゃ）は京都市伏見区にある神社。旧称は稲荷神社。式内社（名神大社）、二十二社（上七社）の一社。旧社格は官幣大社で、現在は神社本庁に属さない単立神社。稲荷山の麓に本殿があり、稲荷山全体を神域とする。
					</div>
				</div>
				
				<div class="row checkpoint">
					<p class="name">伏見稲荷大社</p>
					<p class="answer">正解：ほげ</p>
					<img src="../img/placeholder.svg" class="img-responsive img col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 description">
						伏見稲荷大社（ふしみいなりたいしゃ）は京都市伏見区にある神社。旧称は稲荷神社。式内社（名神大社）、二十二社（上七社）の一社。旧社格は官幣大社で、現在は神社本庁に属さない単立神社。稲荷山の麓に本殿があり、稲荷山全体を神域とする。
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
