.badge-item .wrapper {
  margin: 6px;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 1px 0px rgba(198, 198, 198, 0.5);
  text-align: center; }
  .badge-item .wrapper img {
    margin-top: 10px; }
  .badge-item .wrapper .name {
    margin-top: 10px;
    font-size: 20px;
    color: #38A997; }
