.img-wrapper {
  display: table;
  padding: 10px;
  text-align: center;
  margin: 0 auto; }
  .img-wrapper img {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: auto; }

#file-input {
  position: absolute;
  top: -100px; }

#btn-file-input {
  width: 100%; }
