#map-box {
  height: 240px; }
  #map-box #map {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }
  #map-box #current-position {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    bottom: 10px; }
  #map-box #nav-start {
    position: absolute;
    height: 50px;
    right: 50px;
    bottom: 10px; }

.near {
  background: #FA833C; }

.far {
  background: #38A997; }

.checkpoint {
  cursor: pointer;
  background: white;
  border: 1px solid #DDDDDD;
  height: 70px;
  max-height: 70px; }
  .checkpoint a {
    display: block;
    width: 100%;
    height: 100%; }
  .checkpoint .distance {
    color: white;
    margin: 8px 0px 8px 8px;
    line-height: 54px;
    text-align: center;
    height: 54px;
    width: 54px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 54px;
    -webkit-border-radius: 54px;
    -m-border-radius: 54px;
    -o-border-radius: 54px;
    -ms-border-radius: 54px; }
  .checkpoint .checkpoint-img {
    display: block;
    margin-left: 8px;
    width: 70px;
    height: 70px; }
  .checkpoint .name {
    padding-left: 10px;
    font-size: 16px;
    color: #0074BF;
    display: table-cell;
    vertical-align: middle;
    height: 70px; }

.selected {
  background: #FCF8E3; }
