.checkpoint {
  margin-top: 10px;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 1px 0px rgba(198, 198, 198, 0.5);
  padding: 10px; }
  .checkpoint .name {
    font-size: 20px;
    color: #38A997; }
  .checkpoint .answer {
    font-size: 14px;
    color: #38A997; }
  .checkpoint .description {
    margin: 0px;
    padding-left: 10px; }
