$baseWidthValue: 1024;
$baseWidth: #{$baseWidthValue}px;

$baseMargin: 10px;
$largeMargin: 20px;
$xLargeMargin: 30px;

$sideMargin: 10px;

$fs3: 21px;
$fs4: 13px;
$fs5: 11px;
$fs6: 9px;

$hoverOpacity: 0.6;

$primaryColor: #0074BF;
$descriptionColor: #ABABAB;
$bgColor: #E4EFF3;