@import "settings";
@import "mixins";
	
.badge-item {
	.wrapper {
		margin: $smallMargin;
		background: white;
		border: 1px solid #DDDDDD;
		box-shadow: 0px 1px 1px 0px rgba(198,198,198,0.50);
		text-align: center;
		img {
			margin-top: $baseMargin;
		}
		.name {
			margin-top: $baseMargin;
			font-size: 20px;
			color: $greenColor;
		}
	}
}
