@charset "UTF-8";

@import "settings";
@import "mixins";

body {
	background-color: $bgColor;
	margin: 0 auto;
	padding: 0px;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

img {
	border: 0px;
}

.w1024 {
	width: $baseWidth;
	margin: 0 auto;
}


/* Start overwrite bootstrap style */
.container {
	width: $baseWidth;
	margin: 0 auto;
	max-width: none !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.row,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

a:hover {
	text-decoration: none;
}

.btn {
	border-radius: 8px;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
	border: none;
}

.btn-primary {
	background-color: #333333;
	&:hover {
		background-color: #333333;
	}
}

.btn-info {
	background-color: #0587C4;
	&:hover {
		background-color: #0587C4;
	}
}

.btn-post {
	background-color: #FF972B;
	&:hover {
		background-color: #FF972B;
	}
}

.fs3 {
	font-size: $fs3;
}
.fs4 {
	font-size: $fs4;
}
.fs5 {
	font-size: $fs5;
}
.fs6 {
	font-size: $fs6;
}

/* End overwrite bootstrap style */

a {
	&.login, &.sign_up {
		margin: 20px 0px;
		padding: 10px 15px;
		background: #fff;
		border-radius: 5px;
		border: 1px solid #333;
		font-size: 14px;
		display: inline-block;
	}
	&:hover {
		opacity: $hoverOpacity;
	}
	&:hover img {
		opacity: $hoverOpacity;
	}
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clr {
	clear: both;
}

.title {
	font-size: $fs3;
	color: #777;
}

.description {
	margin: $baseMargin 0;
	font-family: HiraginoSans-W5;
	font-size: 13px;
	color: $descriptionColor;
	letter-spacing: 0.07px;
	line-height: 17px;
}

