@import "settings";
@import "mixins";


#distance {
	margin: $baseMargin;
	color: $greenColor;
	letter-spacing: 0.3px;
	font-size: 36px;
}

#btn-next {
	margin: $baseMargin;
	padding-left: $baseMargin;
	padding-right: $baseMargin;
}

#compass {
	margin-bottom: $baseMargin;
	$length: 200px;
	width: $length;
	height: $length;
}

#map {
	height: 200px;
}

#notification {
	.item {
		margin-bottom: 1px;
		padding: $baseMargin;
		background: #FFFFFF;
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.17);
		font-size: 13px;
		font-family: HiraginoSans-W4;
		color: #8D8D8D;
		.name {
			font-size: 16px;
			font-family: HiraginoSans-W6;
			color: #38A997;
			margin-left: $baseMargin;
			margin-right: $baseMargin/2;
		}
	}
}