@import "settings";
@import "mixins";

.city {
	margin-top: 10px;
	line-height: 76px;
	text-align: center;
	background: white;
	border: 1px solid #DDDDDD;
	box-shadow: 0px 1px 1px 0px rgba(198,198,198,0.50);
	font-size: 32px;
	color: $primaryColor;
	background-image: url('../img/next_button.svg');
	background-position: 96% center;
	background-repeat: no-repeat;
	a {
		display: block;
    	width: 100%;
    	height: 100%;
	}
}
